:root {
	--primary: #100F0F;
	--secondary: #F2F0E5;
	--background: #FFFCF0;
	--accent: #24837B;
}

html[data-theme="dark"] {
	--primary: #CECDC3;
	--secondary: #282726;
	--background: #100F0F;
	--accent: #3AA99F;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Avenir", "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

body {
	display: grid;
	height: 100vh;
	grid-template-rows: auto 1fr auto;
	color: var(--primary);
	background-color: var(--background);
	justify-items: center;
}

header,
main,
footer {
	max-width: 37.5em;
	width: 100%;
}

main {
	margin: 0 auto;
}

p,
pre,
code {
	line-height: 1.5;
}

a[href],
a[href]:visited {
	color: var(--primary);
	text-decoration: underline;
}

a[href]:hover {
	color: var(--accent);
}

img {
	max-width: 100%;
	height: auto;
}

header,
main,
footer {
	padding: 1em;
}

main {
	padding-bottom: 2em;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

pre {
	font-size: 14px;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: .5em 0;
}

/* Header Logo (style as h2) */
header > em {
	display: block;
	font-size: 2em;
	margin: .67em 0;
	font-weight: bold;
	font-style: normal;
}

/* Header Nav */
header nav {
	width: 100%;
}

header nav .nav-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

header nav ul {
	padding: 0;
	list-style: none;
	margin: 0;
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .25em;
}

header nav li:first-child {
	margin-left: 0;
}

header nav li a {
	padding: .25em .5em;
	border-radius: .25em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	background-color: var(--secondary);
}

header nav .nav-right {
	display: flex;
	align-items: center;
}

/* Posts List */
article {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
	border-bottom: 1px solid var(--secondary);
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
  display: grid;
	padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea,
button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
	font-size: 1rem;
	font-family: "Avenir", "Avenir Next", sans-serif;
}

input,
textarea {
	border: 1px solid var(--secondary);
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}

/* Theme Toggle Button */
.theme-toggle {
	height: 20px;
	width: 36px;
	display: block;
	position: relative;
	border: none;
	background: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.theme-toggle-slide {
	height: 20px;
	border: 1px solid var(--secondary);
	border-radius: 24px;
	width: 100%;
	position: absolute;
	inset: 0;
}

.theme-toggle-switch {
	position: absolute;
	z-index: 1;
	top: 1px;
	left: 1px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	transition: left 0.1s linear, background-color 0.2s ease;
	background-color: var(--primary);
	-webkit-mask-size: 18px;
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z' clip-rule='evenodd'/%3E%3C/svg%3E");
	mask-size: 18px;
	mask-position: center;
	mask-repeat: no-repeat;
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.theme-toggle:hover .theme-toggle-switch {
	background-color: var(--accent);
}

html[data-theme="dark"] .theme-toggle-switch {
	left: 16px;
	background-color: var(--primary);
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 24 24'%3E%3Cpath d='M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z' /%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 24 24'%3E%3Cpath d='M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z' /%3E%3C/svg%3E");
	transition: left 0.1s linear, background-color 0.2s ease;
}

@media screen and (min-width:768px) {
	:root {
		font-size: 1.1rem;
	}
}
