:root {
	--primary: #100F0F;
	--secondary: #F2F0E5;
	--background: #FFFCF0;
	--accent: #24837B;
	--muted: #B7B5AC;
	--page-pad: clamp(14px, 3vw, 24px);
	--content-max: 40em;
	--font-content: -apple-system, BlinkMacSystemFont, "Inter", "IBM Plex Sans", "Segoe UI", Helvetica, Arial, sans-serif;
	--font-ui: var(--font-content);
	--font-mono: ui-monospace, SFMono-Regular, "Cascadia Code", "IBM Plex Mono", "Roboto Mono", "DejaVu Sans Mono", "Liberation Mono", Menlo, Monaco, Consolas, "Source Code Pro", monospace;
	--wrap-normal: 40em;
	--wrap-wide: 40em;
	--line-height: 1.5;
}

html[data-theme="dark"] {
	--primary: #CECDC3;
	--secondary: #282726;
	--background: #100F0F;
	--accent: #3AA99F;
	--muted: #575653;
}

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	font-size: 62.5%;
}

body {
	color-scheme: light dark;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	margin: 0 auto;
	padding: 2rem var(--page-pad);
	max-width: var(--content-max);
	font-family: var(--font-content);
	font-size: calc(1.5rem + 0.25vw);
	line-height: var(--line-height);
	color: var(--primary);
	background-color: var(--background);
}

header,
main,
footer {
	display: block;
	width: 100%;
	max-width: var(--wrap-wide);
	margin: 0 auto;
	padding: 0 var(--page-pad);
}

header > em,
header nav,
main > *,
footer > * {
	max-width: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	padding-right: 0;
}

main {
	padding-bottom: 4em;
}

hr {
	border: 0;
	border-top: 1px solid var(--muted);
	margin: 2em 0;
}

p,
pre,
code {
	line-height: var(--line-height);
}

p {
	margin: 0 0 1.25em;
}

blockquote {
	margin: 1.5em 0;
	padding-left: 1.5em;
	border-left: 2px solid var(--accent);
}

blockquote > :first-child {
	margin-top: 0;
}

blockquote > :last-child {
	margin-bottom: 0;
}

a[href],
a[href]:visited {
	color: var(--primary);
	text-decoration: underline;
}

a[href]:hover {
	color: var(--accent);
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 4px;
}

main :first-child,
main > article :first-child {
	margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.3;
	margin-bottom: 0;
	padding-bottom: 0;
}

h1 {
	font-weight: 500;
	font-size: calc(1.35em + 0.55vw);
	letter-spacing: -0.02em;
	line-height: 1.25;
	margin-top: 1.5em;
	margin-bottom: 0.25em;
}

h2 {
	font-weight: 500;
	font-size: calc(1em + 0.2vw);
	letter-spacing: -0.015em;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}

h3 {
	font-weight: 500;
	font-size: 1em;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}

h4 {
	font-size: 1em;
	font-weight: 600;
	line-height: 1.3;
	margin-top: 1em;
}

article h2 {
	margin-top: 2em;
}

article h1 + h2,
article h2 + h3 {
	margin-top: 1em;
}

pre {
	font-family: var(--font-mono);
	font-size: 90%;
	direction: ltr;
	text-align: left;
	white-space: pre-wrap;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	padding: 1em;
	margin: 1em 0;
	border: 1px solid var(--secondary);
	border-radius: 4px;
}

/* Header Logo (style as h2) */
header {
	padding: 1rem 0;
}

header > em {
	display: block;
	font-size: 2em;
	font-size: calc(1.35em + 0.55vw);
	margin: 0 0 .5em;
	font-weight: 500;
	font-style: normal;
	letter-spacing: -0.02em;
	line-height: 1.25;
}

/* Header Nav */
header nav {
	width: 100%;
	margin: 0 0 2.5em;
}

header nav .nav-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

header nav ul {
	padding: 0;
	list-style: none;
	margin: 0;
}

header nav ul :first-child {
	margin-left: 0;
}

header nav li {
	display: inline-block;
	margin: 0 .35em;
}

header nav li:first-child {
	margin-left: 0;
}

header nav li a {
	padding: .25em .5em;
	border-radius: .25em;
}

header nav li a[href]:not(:hover) {
	text-decoration: none;
}

header nav li a[data-current="current item"] {
	background-color: var(--secondary);
}

header nav .nav-right {
	display: flex;
	align-items: center;
}

/* Posts List */
article {
	margin-bottom: 2em;
	padding-bottom: 1em;
}

main > section > article > * {
	margin-top: 0;
	margin-bottom: .5em;
}

/* Post Tags */
a[rel="tag"],
a[rel="tag"]:visited {
	display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
	letter-spacing: .1em;
  font-size: .625em;
  padding: 0 .5em;
	line-height: 2em;
	height: 2em;
  border: 1px solid var(--secondary);
	background-color: var(--secondary);
	color: var(--primary);
  border-radius: .25em;
  text-decoration: none;
	margin: 0 .5em .5em 0;
}

a[rel="tag"]:hover {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
}

a[rel="tag"]:last-child {
	margin-right: 0;
}

/* Contact Form */
form {
	display: grid;
	padding: 2em 0;
}

form label {
	display: none;
}

input,
textarea,
button {
	width: 100%;
	padding: 1em;
	margin-bottom: 1em;
	font-size: 1rem;
	font-family: var(--font-content);
}

input,
textarea {
	border: 1px solid var(--secondary);
}

button {
	border: 1px solid var(--primary);
	background-color: var(--primary);
	color: var(--secondary);
	cursor: pointer;
}

ol,
ul {
	padding: 0.5rem 0 1rem 1em;
	margin: 0 0 0 0.5em;
}

ol > li,
ul > li {
	padding: 0.15rem 0;
}

ol > li::marker,
ul > li::marker {
	color: var(--muted);
}

/* Theme Toggle Button */
.theme-toggle {
	height: 20px;
	width: 36px;
	display: block;
	position: relative;
	border: none;
	background: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.theme-toggle-slide {
	height: 20px;
	border: 1px solid var(--secondary);
	border-radius: 24px;
	width: 100%;
	position: absolute;
	inset: 0;
}

.theme-toggle-switch {
	position: absolute;
	z-index: 1;
	top: 1px;
	left: 1px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	transition: left 0.1s linear, background-color 0.2s ease;
	background-color: var(--primary);
	-webkit-mask-size: 18px;
	-webkit-mask-position: center;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z' clip-rule='evenodd'/%3E%3C/svg%3E");
	mask-size: 18px;
	mask-position: center;
	mask-repeat: no-repeat;
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.theme-toggle:hover .theme-toggle-switch {
	background-color: var(--accent);
}

html[data-theme="dark"] .theme-toggle-switch {
	left: 16px;
	background-color: var(--primary);
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 24 24'%3E%3Cpath d='M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z' /%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 24 24'%3E%3Cpath d='M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z' /%3E%3C/svg%3E");
	transition: left 0.1s linear, background-color 0.2s ease;
}

@media (max-width: 860px) {
	:root {
		--wrap-normal: 100vw;
		--wrap-wide: 100vw;
	}
}

@media (max-width: 720px) {
	:root {
		--wrap-normal: 100vw;
		--wrap-wide: 100vw;
	}

	body {
		margin: 0 auto;
		padding: 1.5rem 0 10rem;
	}

	header,
	main,
	footer {
		padding: 0;
	}
}
