<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <div class="nav-wrapper">
    <ul>
      {%- for entry in navPages %}
        <li>
          <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
        </li>
      {%- endfor %}
    </ul>
    <div class="nav-right">
      {% include "components/theme-toggle.njk" %}
    </div>
  </div>
</nav>
